*{
    color: white;
}
body{
    background-color: wheat;
}
.container{
    width: 800px;
    background-color: #0d5c63;
    margin-left: 450px;
    margin-top: 300px;
    border-radius: 10px;
   
}
h2{
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
  text-shadow: 2px 2px 3px black;
  font-family: 'Ubuntu', sans-serif;
}
p{
    font-family: 'Roboto Slab', serif;
    font-size: x-large;
    padding-left: 25px;
}
form{
    padding-left: 20px;
    font-size: x-large;
    font-weight: bolder;
}
input{
    width: 300px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-color: aqua;
    color: #0d5c63;
    font-weight: bolder;
    font-size: x-large;
    

}
#labelBill{
   margin-right: 78px;

}
#Calculatator{
    padding: 20px;
    width: 200x;
    color:#0d5c63;
    font-weight: bolder;
    border-radius: 10px;
    margin-left: 235px;
    font-size: x-large;
    margin-top: 30px;


}
#Calculatator:hover{
    background-color: bisque;
}
#total{
    text-align: center;
}
.SocialMedia{
    margin-left: 700px;
}